.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}

.header_content_left>img {
    width: 78px;
}

.header_content_center>a {
    text-decoration: none;
    color: #191919;
    margin: 0px 20px;
    font-size: 18px;
}


.header_content_center>a,
.header_content_center>div {
    text-decoration: none;
    color: #000;
    margin: 0px 20px;
    font-size: 18px;
}

.header_content_center>div {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: #000;
    margin: 0px 20px;
    font-size: 18px;
}

.sub_menu {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    background-color: #f7f9fc;
    border-radius: 8px;
    top: 50px;
}

.sub_menu:hover {
    visibility: visible;
    z-index: 1;
    position: absolute;
    background-color: #f7f9fc;
    border-radius: 8px;
    top: 60px;
}


.havingSubOptions:hover>.sub_menu {
    visibility: visible;
}

.sub_menu_option {
    display: flex;
    padding: 10px 40px 10px 20px;
    text-decoration: none;
}

.sub_menu_option:hover {
    background-color: rgb(197, 195, 195);
}

.sub_menu_option_Detail {
    margin-left: 15px;
}

.sub_menu_option_name {
    color: #003455;
    font-size: 14px;
}

.sub_menu_option_categ {
    color: #535353;
    font-size: 12px;
}




.customer_section {
    background-color: #F7FAFC;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer_row {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cu_idfc_img {
    padding-left: 4%;
}

.footer {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 80px;
    padding-left: 400px;
    background-color: #F7F7F7;
}

.footer_row {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twoColumns {
    display: flex;
    flex-direction: row;
}

.twoColumns>p {
    text-align: left;
}

.whoWeAre {
    margin-left: 27%;
}


.footer_product_container,
.whoWeAre {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.havANyQues {
    font-size: 34px;
}

.buttontype4 {
    margin: 30px 0;
}

.footer_product_container_heading {
    font-size: 14px;
    color: #10253e;
    text-transform: uppercase;
    margin: 10px 0;
}

.section_detail_heading_border_bottom {
    background: rgb(254, 126, 119);
    background: linear-gradient(90deg, rgba(254, 126, 119, 1) 62%, rgba(155, 136, 136, 1) 100%);
    padding: 5px;
    width: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.section_detail_heading {
    font-size: 36px;
    padding-bottom: 45px;
    color: black;
}


.footer_products_link {
    text-decoration: none;
    color: #585858;
    font-size: 14px;
    text-transform: capitalize;
    margin: 10px 0;
}

.footer_row_left_column {
    flex: 2;
}

.footer_row_right_column {
    margin-right: 20px;
    flex: 3;
}

.sociaMediaIcon {
    margin-right: 20px;
}

.logoWithColor {
    margin-bottom: 30px
}

.companyName {
    font-size: 16px;
    color: #10253e;
    font-weight: bold;
    margin-top: 10px;
}

.mail {
    font-size: 16px;
    color: #10253e;
    margin-top: 20px;
}

.mail>span {
    font-weight: bold;

}

.contactUs {
    margin-bottom: 10px;
}

input {
    display: block;
    margin-top: 20px;
    width: 90%;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;

}

input ::placeholder {
    color: #10253e;
}

textarea {
    margin-top: 20px;
    width: 90%;
    border: none;
    border-radius: 6px;
    color: #10253e;
    padding: 20px;
}

textarea::placeholder {
    color: #10253e;
}


@media only screen and (max-width: 560px) {

    .header {
        flex-direction: column;
    }

    .header_content_center {
        display: none;
    }

    .header_content_right {
        display: none;
    }

    .section_detail_heading {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .customer_row {
        margin-top: 55px;
        /* width: 100%; */
        display: flex;
        flex-direction: inherit;

    }

    .customer_row>p {
        font-size: 35px;
        color: #808080;
    }


    .conceptContainer>.section_left {
        margin: 0;
    }

    .footer {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .section_text_detail_container_text {
        width: 100%;
    }

    .twoColumns {
        display: none;
        width: 100%;
    }

    .footer_row {
        display: block;
    }

    .footer_row_right_column {
        margin: 80px 0;
        text-align: center;
    }

    input,
    textarea {
        display: inline;
        width: 70%;
    }

    .section4_right {
        width: 100%;
        text-align: center;
    }

    .section5 {
        display: block;
    }

    .section5_width_adjust {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: 80px;
    }

    .ourLeaderContainer {
        margin: 200px 0;
    }

    #apiEngin_image {
        width: 95%;
        padding: 5px 10px;
    }

    #jandhan_image {
        width: 100%;
    }

    #enterprise_image {
        padding-right: 31%;
        padding-left: 0;
    }
}